.full {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;       
}

.clock {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
}

.clock img {
}